<header
  class="d-flex align-items-center justify-content-center p-3"
  style="background-color: #000; color: white"
>
  <img src="/assets/logo.png" alt="Logo" style="height: 100px; width: 100px; margin-right: 15px" />
  <h1>Police Login Portal</h1>
</header>
<div class="container mt-5">
  <div class="col-md-6 mx-auto">
    <h3 class="text-center">User Login</h3>
    <form (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          [class.is-invalid]="errors.email"
          [(ngModel)]="formData.email"
          placeholder="Enter your Email"
        />
        <div *ngIf="errors.email" class="error">{{ errors.email }}</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          [class.is-invalid]="errors.password"
          [(ngModel)]="formData.password"
          placeholder="Enter your password"
        />
        <div *ngIf="errors.password" class="error">{{ errors.password }}</div>
      </div>
      <p>Don't have an account? <a routerLink="/register">Register here</a>.</p>
      <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="loading">
        Login
      </button>
    </form>
  </div>
</div>
<app-footer></app-footer>
